h1 {
  color: midnightblue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* style the input */
input {
  margin: 0;
  padding: 10px;
  width: 75%;
  border: none;
  border-radius: 0;
  float: left;
  font-size: 16px;
  
}

input::placeholder {
  color: blue;
  font-style: italic;
}



* {
  box-sizing: border-box;
} 
/* Remove margin and padding items */
ul {
  margin: 0;
  padding: 0;
} 
 
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}



/* Style the header */
.header {
  background-color: turquoise;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the "Add" button */

.addBtn {
  padding: 10px;
  width: 20%;
  background: #d9d9d9;
  color: #555;
  float: right;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
}

.addBtn:hover {
  background-color: #bbb;
}



/* style the list items */

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;

